@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PP Neue Montreal Book';
    src: url('/static/fonts/PPNeueMontreal-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/static/fonts/PPNeueMontreal-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
